body {
    font-family: 'Lato', sans-serif;
    font-size: 15px;
    padding: 0;
    margin: 0;
    line-height: 1.5;
    background-color: #363636;
    color:rgb(0, 180, 30);
text-align:center} 
H1{
font-family:'Times New Roman', Times, serif; 
font-size:45px;}
